* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #34495e;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#titulo h1 {
    margin: 40px 0px 10px 0px;
    font-size: 20px;
    color: white;
}

.imagen {
    margin: 10px 0px;
    height: 300px;
    width: 300px;
    margin: 0px;
}

.imagen img {
    /* height: 100%;
    width: 100%; */
    height: 300px;
    width: 300px;
    position: absolute;
}

.cuadros {
    background-color: black;
    margin-top: 45px;
    height: 210px;
    width: 301px;
    position: relative;
}

.hiddentext {
    position: absolute;
    top: 35%;
    left: 20%;
    color: white;
}

.lives {
    position: absolute;
    right: 20%;
    top: 35%;
    color: white;
    text-align: center;
}

.teclado {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.keyboard {
    margin: 2px 5px;
    width: 45px;
    background-color: #28a745;
    cursor: pointer;
    border: 0;
    padding: 14px 14px;
    font-size: 18px;
    text-align: center;
    align-content: center;
    color: white;
    border-radius: 5px;
}

#letraA,
#letraE,
#letraI,
#letraO,
#letraU {
    background-color: #ffc107;
    color: black;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: #2980b9;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background-color: #fff;
    color: #2980b9;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: 0;
}

#btn-close {
    text-decoration: none;
    color: #2980b9;
}

@media screen and (max-width:900px) {
    .hiddentext {
        position: absolute;
        top: 35%;
        left: 10%;
    }
    .lives {
        position: absolute;
        right: 10%;
        top: 35%;
    }
}

@media screen and (max-width:600px) {
    #titulo h1 {
        margin: 20px 0px 10px 0px;
        font-size: 20px;
        color: white;
    }
    .imagen {
        margin: 10px 0px;
        height: 200px;
        width: 200px;
        margin: 0px;
    }
    .imagen img {
        height: 200px;
        width: 200px;
        position: absolute;
    }
    .cuadros {
        background-color: black;
        margin-top: 40px;
        height: 130px;
        width: 201px;
        position: relative;
    }
    .hiddentext {
        position: absolute;
        top: 42%;
        left: 3%;
    }
    .hiddentext h3 {
        font-size: 16px;
    }
    .lives {
        position: absolute;
        top: 42%;
        right: 4%;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .lives h2 {
        font-size: 16px;
    }
    .key_board {
        top: 30%;
        position: absolute;
    }
    .teclado {
        width: 100%;
        text-align: center;
        margin: 150px 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .keyboard {
        margin: 2px 5px;
        width: 45px;
        background-color: #28a745;
        cursor: pointer;
        border: 0;
        padding: 10px 10px;
        font-size: 18px;
        text-align: center;
        align-content: center;
        color: white;
        border-radius: 5px;
    }
    .popup-container {
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        /* display: flex; */
        display: none;
        align-items: center;
        justify-content: center;
    }
    .popup {
        background: #2980b9;
        border-radius: 5px;
        box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
        padding: 5px;
        text-align: center;
    }
}